@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.tela{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.formCadastro{
    width: 22vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.tituloCadastro{
    text-transform: uppercase;
    font-family: raleway;
    font-size: 2.8em;
    font-weight: bold;
}

.nomeAtributo{
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
}

.input{
    width: 15vw;
    height: 5vh;
    border-radius: 1em;
}

.botaoCadastro{
    width: 15vw;
    height: 5vh;
    border-radius: 1em;
    background-color: #FA7B3B;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sucesso{
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
    color: #0b9121;
}

.falha{
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
    color: #830000;
}